<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>Login - User Portal</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container-fluid text-center">
	<div>
	</div>
	<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
		<div class="border border-secondary rounded p-3">
			<p>Access to Shopme Control Panel</p>
			<p>
				<input type="email" name="email" class="form-control" placeholder="E-mail" required />
			</p>
			<p>
				<input type="password" name="password" class="form-control" placeholder="Password" required />
			</p>
			<p>
				<input type="checkbox" name="remember-me" />&nbsp;Remember Me
			</p>
			<p>
				<input type="submit" value="Login" class="btn btn-primary" />
			</p>			
		</div>
		
	
	
	
	
	</form>
	<div>
		<p>User Portal - Copyright &copy; userportal</p>
	</div>
	
	
	</div>
</body>
</html>